<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Combined</key>
	<dict>
		<key>Menu</key>
		<dict>
			<key>Items</key>
			<array>
				<string>cpu-cpu</string>
				<string>cpu-gpu</string>
				<string>memory-overview</string>
				<string>disks-physical</string>
				<string>network-addresses-public</string>
				<string>network-bandwidth</string>
				<string>sensors-overview</string>
				<string>battery-battery</string>
			</array>
		</dict>
	</dict>
	<key>Device</key>
	<dict>
		<key>Auth-Identifier</key>
		<string>E4CFAE9A-A638-4F16-BAAD-50BA19C3CB81</string>
		<key>Device</key>
		<string>8c5e4ea21b4967024431f918740193b5698e2e1a</string>
		<key>Model</key>
		<string>MacBookPro18,3</string>
	</dict>
	<key>License</key>
	<dict>
		<key>License</key>
		<string>ship-quip-ouch-grab-4215-7</string>
		<key>Validation</key>
		<dict>
			<key>hashversion</key>
			<string>3</string>
			<key>license</key>
			<string>ship-quip-ouch-grab-4215-7</string>
			<key>signature</key>
			<string>MIGHAkIAvaY1nINenCfwF+XYcC/fOSB+pna6TVYKm2G/m7ROm5VBGQ9uz9jTCvjSviMVpMu8VccTZofKx8E0bE9x58P8N/sCQVRUBtj7zasKj4mlSLw+ztUAQS7cT5ZTJ8/ESp0mcVb997qJ/QturiIEJEQ2HmTH9twO3z89jU8huoHiPIJwOQjv</string>
			<key>time</key>
			<string>1722529182</string>
		</dict>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Theme</key>
		<dict>
			<key>Dark</key>
			<string>system</string>
		</dict>
	</dict>
	<key>Menubar</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>ReducePadding</key>
			<integer>0</integer>
		</dict>
		<key>Theme</key>
		<dict/>
	</dict>
	<key>Migration</key>
	<dict>
		<key>Profiles</key>
		<true/>
	</dict>
	<key>Network</key>
	<dict>
		<key>Menu</key>
		<dict>
			<key>Ping</key>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>address</key>
						<string>1.1.1.1</string>
					</dict>
					<dict>
						<key>address</key>
						<string>8.8.8.8</string>
					</dict>
				</array>
			</dict>
			<key>State</key>
			<array>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-bandwidth</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-interfaces-connected</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-addresses-public</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-addresses-private</string>
				</dict>
				<dict>
					<key>enabled</key>
					<false/>
					<key>key</key>
					<string>network-interfaces-notconnected</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-ping</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-processes</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>network-launcher</string>
				</dict>
			</array>
		</dict>
		<key>Menubar</key>
		<dict>
			<key>Mode</key>
			<dict>
				<key>HistoryGraph</key>
				<dict>
					<key>Graph</key>
					<dict>
						<key>Border</key>
						<dict>
							<key>Dark</key>
							<dict>
								<key>Color</key>
								<string>1 1 1 0</string>
							</dict>
						</dict>
						<key>Download</key>
						<dict>
							<key>Dark</key>
							<dict/>
						</dict>
						<key>Upload</key>
						<dict>
							<key>Dark</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Notifications</key>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>source</key>
				<string>battery-low</string>
				<key>type</key>
				<string>alert</string>
				<key>uuid</key>
				<string>4e1abe18-f00e-4f2f-9a69-1ee6d04643f4</string>
			</dict>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>source</key>
				<string>daylightsaving</string>
				<key>time</key>
				<integer>0</integer>
				<key>type</key>
				<string>alert</string>
				<key>uuid</key>
				<string>7ad71b8c-c416-49c9-a5bc-41f76628c118</string>
			</dict>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>item</key>
				<dict>
					<key>key</key>
					<string>any</string>
				</dict>
				<key>source</key>
				<string>temperature</string>
				<key>time</key>
				<string>30</string>
				<key>type</key>
				<string>banner</string>
				<key>uuid</key>
				<string>3e5ac3eb-5a05-4b12-82fe-a51860e5851d</string>
				<key>value</key>
				<string>95</string>
			</dict>
		</array>
	</dict>
	<key>Profiles</key>
	<dict>
		<key>Available</key>
		<dict>
			<key>identifier</key>
			<string>default</string>
		</dict>
		<key>Settings</key>
		<dict>
			<key>default</key>
			<dict>
				<key>Battery</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>DetailedState</key>
						<integer>0</integer>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<dict>
							<key>Standard</key>
							<array>
								<dict>
									<key>source</key>
									<integer>8</integer>
									<key>type</key>
									<integer>8</integer>
								</dict>
							</array>
						</dict>
					</dict>
				</dict>
				<key>CPU</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>1</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Combined</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>1</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>17</integer>
								<key>type</key>
								<integer>9</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>6</integer>
								<key>type</key>
								<integer>5</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Disks</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>4</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Memory</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>3</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Network</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>6</integer>
								<key>type</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>17</integer>
								<key>type</key>
								<integer>9</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Sensors</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>7</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Time</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Weather</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Sensors</key>
	<dict>
		<key>Menu</key>
		<dict>
			<key>State</key>
			<array>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-overview</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-temperature</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-fan</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-current</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-power</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-voltage</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-frequency</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-ambientlight</string>
				</dict>
				<dict>
					<key>enabled</key>
					<true/>
					<key>key</key>
					<string>sensors-launcher</string>
				</dict>
			</array>
		</dict>
		<key>Menubar</key>
		<dict>
			<key>Mode</key>
			<dict>
				<key>LabelValue</key>
				<dict>
					<key>Font</key>
					<dict/>
					<key>Label</key>
					<dict>
						<key>Dark</key>
						<dict>
							<key>Text</key>
							<dict/>
						</dict>
					</dict>
					<key>Value</key>
					<dict>
						<key>Dark</key>
						<dict>
							<key>Text</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Status</key>
	<dict>
		<key>Build</key>
		<dict>
			<key>Last</key>
			<real>2189</real>
		</dict>
		<key>Version</key>
		<dict>
			<key>Last</key>
			<real>7</real>
		</dict>
	</dict>
	<key>UpdateFrequency</key>
	<integer>2</integer>
	<key>Weather</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>AvailableProviders</key>
			<array>
				<dict>
					<key>key</key>
					<string>apple</string>
					<key>name</key>
					<string>🌍 Apple Weather</string>
				</dict>
				<dict>
					<key>key</key>
					<string>accuweather</string>
					<key>name</key>
					<string>🌍 AccuWeather</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aeris</string>
					<key>name</key>
					<string>🌍 Xweather (formerly Aeris)</string>
				</dict>
				<dict>
					<key>key</key>
					<string>apple</string>
					<key>name</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>environmentcanada</string>
					<key>name</key>
					<string>🇨🇦 Environment Canada</string>
				</dict>
				<dict>
					<key>key</key>
					<string>willyweather</string>
					<key>name</key>
					<string>🇦🇺 WillyWeather (BoM)</string>
				</dict>
			</array>
			<key>Provider</key>
			<string>apple</string>
		</dict>
	</dict>
</dict>
</plist>
